<ion-header-bar align-title="center" class="bar-energized">
    <div class="buttons">
        <button class="button"  on-tap="historyBack()"><i class="ion-chevron-left"></i></button>
    </div>
    <h1 class="title">修改登陆密码</h1>
</ion-header-bar>
<ion-content style="background: #f2f2f2">
    <div class="list">
        <label class="item item-input">
            <span class="input-label">原密码</span>
            <input type="text" placeholder="请输入登陆密码" ng-model="formData.oldPassword">
        </label>
        <label class="item item-input" style="margin-top: 10px">
            <span class="input-label">新密码</span>
            <input type="password" placeholder="6-20位字母、数字或符号的组合" ng-model="formData.newPassword">
        </label>
        <label class="item item-input">
            <span class="input-label">确认密码</span>
            <input type="password" placeholder="6-20位字母、数字或符号的组合" ng-model="formData.comfirmNewPassword">
        </label>
    </div>
    <button class="button button-full button-energized" style="width: 90%;margin:  auto" on-tap="resetSure()">
       确认修改
    </button>
    {{oldPassword}}
</ion-content>
